asgiref==3.7.2
astroid==3.1.0
dill==0.3.8
Django==5.0.3
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
platformdirs==4.2.0
pylint==3.1.0
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
toml==0.10.2
tomlkit==0.12.4
typed-ast==1.5.5
wrapt==1.16.0
