{% extends "base.html" %} {% block title %}
<title>Brant's Django Site</title>
{% endblock %} {% block content %}
<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">Demo File Upload</p>
</div>

<section>
  <div class="card">
    <div class="card-header bg-info">Demo</div>
    <div class="card-body py-2">
        <div class="card my-2">
          <div class="card-header">
            V1 - Basic: Upload file Demo by using open/write/close
          </div>
          <div class="card-body py-2">
            <form action="{% url 'uploadfiles:v1' %}" method="post" enctype="multipart/form-data" class="my-2">
              {% csrf_token %}
              <label for="file">Filename:</label>
              <input type="file" name="v1file" />
              <br />
              <input type="submit" name="submit" value="Submit" />
            </form>
            {% if messages and version == "v1" %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} my-1" id="msg" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %} 
          </div>
        </div>
        <div class="card my-2">
          <div class="card-header pb-0">
            V2 - Upload file Demo by using FileSystemStorage. <br>
            <b>Difference with V1 because of using FileSystemStorage: </b>
            <ul>
              <li>It will create a new file if file with same name exists.
              <br>
              This behavior can be overridden please refer to link at reference panel.</li>
              <li>It can get file's url easily.</li>
            </ul>
          </div>
          <div class="card-body py-2">
            <form action="{% url 'uploadfiles:v2' %}" method="post" enctype="multipart/form-data" class="my-2">
              {% csrf_token %}
              <label for="file">Filename:</label>
              <input type="file" name="v2file" />
              <br />
              <input type="submit" name="submit" value="Submit" />
            </form>
            {% if messages and version == "v2" %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} my-1" id="msg" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %} 
          </div>
        </div>
        <div class="card my-2">
          <div class="card-header pb-0">
            V3 - Upload file Demo (frontend using forms.py but without Model involved). <br>
            <b>Difference with V1/V2: </b>
            <ul>
              <li>No form UI defined in html but in forms.py.
            </ul>
          </div>
          <div class="card-body py-2">
            <form action="{% url 'uploadfiles:v3' %}" method="post" enctype="multipart/form-data" class="my-2">
              {% csrf_token %}
              {{ form }}
              <br />
              <input type="submit" name="submit" value="Submit" />
            </form>
            {% if messages and version == "v3" %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} my-1" id="msg" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %} 
          </div>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="card mt-1">
    <div class="card-header bg-info">Reference</div>
    <div class="card-body">
      <ol>
        <li><a href="https://gist.github.com/fabiomontefuscolo/1584462">Overwrite same file for FileSystemStorage.</a></li>
      </ol>
    </div>
  </div>
</section>

<section>
  <div class="card mt-1">
    <div class="card-header bg-info">Notes</div>
    <div class="card-body">
      <ol>
        <li>N/A</li>
      </ol>
    </div>
  </div>
</section>

{% endblock %}
